h1.form {
    text-align: center;
    font-style: italic;
}

h3.form {
    text-align: center;
    font-weight: lighter;
}

input.form {
    display: block;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid rgba(173, 173, 173, 0.4);  
    padding: 5px 0;
    color: black;
    width: 100%;
}

button.form {
    display: block;
    border: none;
    background-color:rgb(65, 147, 239);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-top: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100%;
    
}

form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 30px 60px;
    /* box-shadow: 4px 7px 1px 0px rgba(0, 0, 0, 0.2); */
    width: 300px;
}