nav.nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: inline;
    width: 100%;
    z-index: 2;
}

button {
    cursor: pointer;
    border: none;
}

ul {
    list-style-type: none;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

li {
    text-align: left;
    display: inline;
}

img.navBar {
    display: inline;
    margin-right: 200px;
    margin-left: 200px;
}

input.navBar {
    margin-right: 100px;
}

button.navBar {
    margin-right: 20px;
    background-color: transparent;
}

div.homeLeft, div.homeRight {
    float: left;
    padding-top: 60px;
}

div.homeRight {
    position: fixed;
    right: 300px;
    overflow: hidden;
    height: 500px;
}

div.card {
    padding-top: 10px;
    margin: 30px 0px 0px 240px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
}

button.cardHeader, p.cardHeader {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.cardHeader {
    position: relative;
}

button.cardHeaderOption {
    position: absolute;
    background-color: transparent;
    top: 0px;
    right: 16px;
}

/* p.cardHeader {
    margin-right: 400px;
} */

div.cardButtons {
    position: relative;
}

button.cardButtons {
    margin-left: 10px;
    background-color: transparent;
}

button.cardButtonsSave {
    position: absolute;
    top: 0;
    right: 16px;
    background-color: transparent;
}

input.CommentWrite {
    width: 80%;
}

p.homeRightUser, p.homeRightImage {
    display: inline;
}

p.homeRightName {
    margin-left: 82px;
    font-weight: lighter;
}

button.homeRightSwitch {
    position: absolute;
    right: 0px;
    color: rgb(65, 147, 239);
    font-weight: bolder;
    background-color: transparent;
}

button.homeRightAll {
    position: absolute;
    right: 0px;
    color: rgb(39, 39, 39);
    font-weight: bolder;
    background-color: transparent;
}

button.sidePanelFollow {
    position: absolute;
    right: 0px;
    color: rgb(65, 147, 239);
    font-weight: bolder;
    background-color: transparent;
}

div.homeRight {
    margin-top: 30px;
    margin-left: 20px;
}

p.homeRightSug {
    display: inline;
    margin-right: 20px;
    font-weight: lighter;
    font-size: medium;
}

div.sidePanel {
    position: relative;
    margin-top: 20px;
}

p.sidePanel {
    display: inline;
    margin-right: 50px;
}

p.sidePanelFollow {
    font-weight: lighter;
    font-size: small;
}

button.CommentWriteFace {
    background-color: transparent;
}

button.CommentWritePost {
    background-color: transparent;
    color: rgb(65, 147, 239);
    font-weight: bold;
}